@import "config";

body{ background-color: $dark; }

#login-form{
  font-family: 'Nunito Sans', sans-serif;
  
  input, button{
    border: none;
    outline: none;
    background: none;
  }
  
  .cont{
    position: relative;
    width: 100%;
    height: 550px;
    background: $extraCol;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    @include perfect_center;
  }

  .form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    @include transition(transform 1.2s ease-in-out);
  }

  h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(230, 213, 213, 0.4);
  }

  button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: $light;
    font-size: 15px;
    cursor: pointer;
  }

  .submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $dark;
  /* #b224ef */
  }
  .submit:hover{
    background: $mainCol;
  }

  .forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: $dark;
    cursor: pointer;
  }

  .forgot-pass:hover{
    text-decoration: underline $dark;
  }
}


