@import "config";

// common style for titles
.aTitle{
  text-shadow: 0px 0px 1px $mainCol;
  font-family: $fontTitle;
  font-weight: 500;
}

// ---------------- HEADER --------------------------
header{
  background-color: $extraCol;
  padding: $pad;
  @include flex;
  justify-content: space-around;

  @include media($bigPhone){
    justify-content: space-between;
  }

  // ---------------- logo ------------------
  #logo img {
    width: 100px;
    height: 100%;
  }

  // ---------------- header's title ------------------
  #bigTitle{
    font-size: 13vw;
    color: $dark;
    text-align: center;
    grid-column: span 2;
    order: 3;
    @include perfect_center;
    width: 100%;

    @include media($bigPhone){
      font-size: 60px;
    }
    @include media($tablet){
      width: auto;
    }
  }
  
  // ------------- accessibility buttons --------------
  #accessibility{
    width: 100%;

    @include media($bigPhone){
      width: 200px;
    }
    @include media($tablet){
      order: 3;
    }
    div {
      img{
      width: 50px;
      height: auto;
      }
      cursor: pointer;
      text-align: center;
    }
    //
    @include flex;
    justify-content: space-around;
    align-items: center;

    // ---------------- language menu ----------------
    #language{
      position: relative;
      &:hover #langs{ 
        visibility: visible; 
        opacity: 1;
      }
      #langs{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: $light;
        z-index: 10;
        right: 0;
        border-radius: 1px;
        width: 160px;
        border: 1px solid $dark; 
        @include transition(opacity 200ms);

        // arrow pointing towards the icon
        &::before{
          content: "";
          position: absolute;
          top: -14px;
          right: 7px;
          border: {
            left: 7px solid transparent; 
            right: 7px solid transparent; 
            top: 7px solid transparent; 
            bottom: 7px solid $light;
          }
        }
      }#langs div{ 
        padding: $pad*1.6 $pad*2.5; 
        font-weight: bold;
        text-align: left;
        img{ 
          width: 25px; height: 25px; 
          position: relative;
          top: 5.5px;
        }span{ font-size: 16px; }

        &:not(&:last-child){ 
          border-bottom: 1px solid $dark; 
        }&:hover{ background-color: $extraCol; }
      }
    }
  }
}
// ------------------ HEADER END -----------------

// ---------------- Navigation Bar -----------------
#navBar{
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 4px solid $mainCol;
  padding: $pad 0;
  background-color: $extraCol;

  @include flex;
  justify-content: space-between;

  section div {
    font: {
      size: 20px;
      weight: bold;
    }
    img{
      width: 25px;
      height: auto;
    }
    cursor: pointer;
    border-right: 2px solid $dark;
    padding: 0 $pad;
  }
  //-------------- home & search button ---------------
  #leftNav span{ 
    display: none;
    @include media($bigPhone){ display: inline; }
    position: relative; 
    bottom: 2px;
  }
  // ------------- side flexes --------------
  #rightNav, #leftNav {
    @include flex($wrap: nowrap);
  }
  // ------------ coin balance --------------
  #coinBalance label{
    position: relative;
    bottom: 3px;
  }
  #sideMenu{ border: none; }
}
// --------------- Navigation Bar End -----------------

// ------------- search Layer ---------------
#searchLayer{
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  top: 0;
  
  // fade in effect
  opacity: 0;
  @include transition(opacity 300ms);
  
  h1{
    background-color: $extraCol;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    border-bottom: 4px solid $mainCol;
  }
  span{
    position: absolute;
    font-size: 40px;
    z-index: 12;
    top: 0;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .searchPart{
    position: relative;
    padding-top: 10px;

    @include flex;
    justify-content: space-between;
    @include media($bigPhone){
    }
    button[type="submit"]{
      all: unset;
      border: 2px inset $dark; 
      border-left: none;
      background-color: $light;
      padding: 0 $pad;
      height: 36px;
      font-weight: bold;
      
      position: absolute;
      right: 0;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      cursor: pointer;
    }
  }

  img{
    width: 25px; 
    height: auto; 
    @include inputImage(17px, 7px); 
    cursor: pointer;
  }

  label{ 
    height: fit-content;
    flex-grow: 1;
  }

  input{ 
    border-radius: 7px;
    border-color: $dark;
    color: $dark;
    background-color: $light;
    font-size: 16px;
    padding-left: 35px;
    width: 100%;
    height: 32px;
    @include transition(box-shadow 200ms);
    
    font-size: 14px;
    display: block;
    height: 40px;
    
    border-right: none;
    font-size: 16px;

    @include media($tablet){ font-size: 20px; }
    @include media($laptop){ font-size: 24px; }
    &:focus{ box-shadow: 0px 0px 4px 2px $mainCol; }
  }
  select{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 5px auto 0;
    height: 40px;
    border: 2px inset $dark;
    border-radius: 7px;
    color: $dark;
    background-color: $light;
    padding: 3px;
    cursor: pointer;
  }
} 
// ------------- search Layer End ---------------

// --------------- side Menu ----------------
#menu{
  visibility: hidden;
  position: fixed;
  top: 0;
  background-color: $extraCol;
  @include media("max-width: 500px"){ left: 0; }
  height: 0; // max 406px
  overflow: hidden;
  z-index: 11;
  width: 100%;
  @include transition(500ms);

  // when above 500px of width, let it come from right
  @include media($bigPhone){
    height: 100%;
    right: 0;
    width: 0; // max 300px
  }

  img{ width: 25px; height: 25px; }
  
  section{
    font-size: 45px;
    text-align: center;
    border-bottom: 4px solid $mainCol;
    padding: 20px 0;
    background-color: $extraCol;
  }

  #closeMenu{
    font-size: 40px;
    padding: 0 $pad;
    position: absolute;
    right: 15px;
    cursor: pointer;
  }

  a{
    display: block;
    width: 100%;
    text-align: center;
    background-color: $light;
    border-bottom: 2px solid $extraCol;
    padding: $pad;
    font-size: 24px;

    &:last-child{ border: none; }
    &:hover{ background-color: $extraCol; }
  } 
}
// --------------- FOOTER -------------------
footer{
  background-color: $extraCol;
  padding: $pad $pad*2;
  border-top: 4px solid $mainCol;
  
  @include flex(column);
  justify-content: space-between;

  @include media($bigPhone){
    flex-direction: row;
  }
  //
  h1{ 
    margin: 0;
    font-size: 33px;
  }
  img{ 
    width: 40px; 
    height: 40px;
    @include transform(translateY(10px))
  }
  ul{
    list-style-type: none;
    padding-left: 0;
    li{ font-weight: 600; font-size: 20px; }
  }
  //
  #rightFoot{
    a:hover{
      text-decoration: underline $dark;
    }
  }
}
// --------------- FOOTER END -------------------
