main{
    background-image: url("../../media/images/contact-us-bg.jpg");
}

main input, main button, main textarea{
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}
main textarea{
    width: 550px;
    height: 350px;
}
#message{
    width: 550px;
}

@media all and (max-width: 595px){
    main textarea{
        width: 450px;
        height: 300px;
    }
}
@media all and (max-width: 500px){
    main textarea{
        width: 300px;
        height: 250px;
    }
}
@media all and (max-width: 350px){
    main textarea{
        width: 250px;
    }
}